/* Farben: #2e2e2e / #867772 / rgb(234, 204, 194) / #ebccc2 / #fff / rgb(115, 115, 115) */

* {
    font-family: 'Work Sans';
}
h1, h2 {color: #867772;}
p {color: rgb(115, 115, 115);}
#beyond {
    width: 300px;
    margin: 100px auto 100px auto;
}
body {
    background-color: #2e2e2e;
    margin: 0;
}
a {
    text-decoration: none;
    color: #867772;
}
a:hover {
    text-decoration: none;
    color: #fff;
}
ul {
    display: flex;
}
li {
    list-style-type: none;
    padding-left: 40px;
    
}
header {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
}

.section-about {
    width: 90vw;
    margin: 0 auto;
}
.section-about>img {
    width: 100%;
}

#design-alchemy {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

#design-alchemy>img {
    height: 20%;
    width: 20%;
    margin-right: 20px;
}
#design-alchemy-text {
    width: 35%;
    margin-left: 20px;
}